<?xml version="1.0" encoding="utf-8"?>
<manifest package="ru.gdgkazan.simpleweather"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".WeatherApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".screen.weatherlist.WeatherListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".screen.weather.WeatherActivity"/>

        <service android:name=".network.NetworkService"/>

        <service android:name=".network.SimpleService"/>

        <provider
            android:name=".data.sqlite.WeatherContentProvider"
            android:authorities="ru.gdgkazan.simpleweather"
            android:exported="false"/>

    </application>

</manifest>